header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

body {
    background-image: url("../images/kelli-tungay-2LJ4rqK2qfU-unsplash.jpg");
    background-size: cover;

}

#homepagebackground {
    background-image: url("../images/homepagebackground.avif");
    background-size: cover;
}

/* .basecontainer for warpping navbar and logoimage for them to stick together */
.basecontainer {
    position: absolute;
    top: 0;
    width: 100%;
} 
/* .navbar {
    width: 100%;
    height: auto; 
    background-color: rgb(82, 121, 165);
}  */

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(30, 107, 196);
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color:rgb(34, 78, 150);
}
.navbar li{
    float: left;
    font-weight: bold;
}
#logoimage {
    position: absolute;
    margin-top: 10px;
    left: 0;
    width: 250px; 
    height: auto; 
    /* transform: translateX(-50%);    Centers the image horizontally */
    border-radius: 8px;
}  


#flashmessage {background-color: red;
                position: absolute;
                top: 20px;
                right: 40px; }


#textboxid {height: 200px;}







