<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <img id="logoimage" src="logo.png" alt="Therereallyshouldbealogohere">

</head>


<body>
<!--Hoang comment-->
<div id="titlediv">
    <h1>This is a title</h1>
</div>

    <div class="leaderboard">

        <div>
            <h2>Leaderboard</h2>
        </div>
    </div>

<div class="homepagecontainer">

    <div class="math">
        <h2 id="mathtext">Math</h2>
    </div>
    <div class="english">
        <h2 id="englishtext">English</h2>
    </div>
</div>

</body>
</html>