<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/css.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <img id="logoimage" src="logo.png" alt="Therereallyshouldbealogohere">


</head>
<body>
    <div class="container">
        <h2>Short answer</h2>
        <div class="question">
            <p>What is the meaning of life?</p>
        </div>
        <div class="shortanswer">
            <div class="shortanswer">
                <input type="text" id="textboxid" name="answer" maxlength="42"><br><br>

                <p>
                    <input id="submit" type="submit" value="Submit">
                </p>
            </div>
        </div>
    </div>
</body>
</html>
