{% extends "base.html" %}

{% block content %}
<form action="/quizsa" method="POST">
    <input type="hidden" name="index" value="{{ index }}">
    <div class="container">
        <h2>Short answer</h2>
        <div class="question">
            <p>{{ question }}</p>
        </div>
        <div class="shortanswer">
            <input type="text" id="textboxid" name="answer" maxlength="42"><br><br>
            <p>
                <input id="submit" type="submit" value="Submit" name="submit">
                <!-- <div class="navigation">
                    <button type="submit" name="action" value="backward">Previous</button>
                    <button type="submit" id="nextbutton" name="action" value="forward">Next</button>
                </div> -->
            </p>
            <div class="navigation">
                <button type="submit" name="action" value="backward">Previous</button>
                <button type="submit" id="nextbutton" name="action" value="forward">Next</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}


