{% extends "base.html"%}"

{% block content %}
<body>
    <div class="container">
        <h2>Short answer</h2>
        <div class="question">
            <p>What is the meaning of life?</p>
        </div>
        <div class="shortanswer">
            <div class="shortanswer">
                <input type="text" id="textboxid" name="answer" maxlength="42"><br><br>

                <p>
                    <input id="submit" type="submit" value="Submit">
                </p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
