{% extends "base.html" %}

{% block content %}
<form action="/quizmcq?index={{ index }}" method="POST">
    <div class="container">
        <h2>Multiple Choice Question</h2>
        <div class="question">
            <p>{{ question }}</p>
        </div>
        <div class="options" id="mcqbackground">
            {% for option in options %}
            <div class="option">
                <input type="radio" id="{{ option }}" class="mcq" name="answer" value="{{ option }}">
                <label for="{{ option }}">{{ option }}</label>
                {% if option == correct_answer %}
                    <span style="color: green;">(Correct answer)</span>
                {% endif %}
            </div>
            {% endfor %}
            <p>
                <input id="submit" type="submit" value="Submit">
            </p>
        </div>
    </div>
</form>
{% endblock %}