{% extends "base.html" %}

{% block content %}
<form action="/quizsa" method="POST">
    <input type="hidden" name="index" value="{{ index }}">
    <div class="container">
        <h2>Short answer</h2>
        <div class="question">
            <p>{{ question }}</p>
        </div>
        <div class="shortanswer">
            <input type="text" id="textboxid" name="answer" maxlength="42"><br><br>
            <p>
                <input id="submit" type="submit" value="Submit">
            </p>
        </div>
    </div>
</form>

<div class="navigation">
    <!-- Previous question button -->
    <form action="/quizsa" method="POST">
        <input type="hidden" name="index" value="{{ index - 1 }}">
        <button type="submit">Previous</button>
    </form>
    <!-- Next question button -->
    <form action="/quizsa" method="POST">
        <input type="hidden" name="index" value="{{ index + 1 }}">
        <button type="submit">Next</button>
    </form>
</div>

{% endblock %}
